MYSQL_DATABASE=stray_care_system
MYSQL_ROOT_PASSWORD=your_database_password_here
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=your_database_password_here
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
